*{
    margin: 0;
    padding: 0;
}





/* header css  */


.header{
    margin: 50px 150px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav h2{
    font-size: 28px;
    font-weight: 800;
}
.header nav li {
    list-style: none;
}
.header nav li button {
    padding: 17px 24px;
    font-size: 17px;
    border: 2px solid #0D1321;
    border-radius: 8px;
}