*{
    margin: 0;
    padding: 0;
}




 /* common css  */
 .main{
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;

 }

 .section{
    margin-top: 80px;
 }


/* header css  */


.navbar{
    margin: 50px 150px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav h2{
    font-size: 28px;
    font-weight: 800;
}
.header nav li {
    list-style: none;
}
.header nav li button {
    padding: 17px 24px;
    font-size: 17px;
    border: 2px solid #0D1321;
    border-radius: 8px;
}

/* banner section  */

.banner-section{
    background-image: url("https: //ibb.co/BtLDrg8");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.banner-section-wrapper{
display: flex;
height: 650px;
flex-direction: column;
align-items: center;
justify-content: center;
width: 1000px;
margin: auto;
text-align: center;


}
.banner-img{
   max-width: 240px;
   width: 100%;
}
.banner-title{
    font-size: 48px;
    line-height: 68px;
    color: #0D1321;
    margin-bottom: 25px;

}
.banner-des , .section-des{
font-size: 18px;
color: #0D1321;
line-height: 26px;
margin-bottom: 25px;
text-align: center;
}
.banner-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px; 
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;    
    background: rgb(13, 19, 33);
    text-decoration: none;
}


.section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin: 24px 0px;
}
.web-development{
    padding: 80px 0;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.web-development-wrapper{
    max-width: 950px;
    margin: auto;


}
.web-development-wrapper .section-des{
    padding: 0 50px;

}
.web-item{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;    
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);justify-content: space-between;
    margin-top: 50px;
    padding: 50px;
}
.web-item-info {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.web-item-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 16px 0px;
}
.web-item-des{
    color: rgb(13, 19, 33);    
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 32px;
}
.web-item-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
    width: 150px;
    text-decoration: none;
}
.web-item-img{
   max-width: 260px;
}



/* inspiration  */


.inspiration-info{
    width: 850px;
    text-align: center;
    margin: auto;
}
.inspiration-video{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 25px;
    margin-top: 50px;
  
    }
    .iframe-video{
        border-radius: 16px;
       
    }


    /* target section  */


    .target-info{
        max-width: 850px;
        margin: auto;
    }

    .target-items{
        display: flex;
        justify-content: space-between;
        gap: 25px;
        margin-top: 50px;
    }
    .single-target-item{
        border-radius: 16px;        
        background: rgba(255, 76, 30, 0.05);
        padding: 40px;
    }
    .single-target-item h4{
        color: rgb(13, 19, 33);  
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        text-align: left;
        margin: 15px 0;
    } 
    
    .target-items img{
 
        width:  40px;
        height: 45px;
 
    }  
    
    .single-target-item p{
    color: rgb(13, 19, 33); 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 20px 0;
    } 
    
    .single-target-item a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
    }




    /* next target items  */
          .next-target-items  {
            margin-top: 50px;
    
          }

    .next-target-items .single-target-item{
       background: none; 
       display: flex;
       gap: 25px;
       align-items: center;
       
    }
    .single-next-target-item{
    box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 16px;    
        background: rgb(255, 255, 255);
        padding: 40px;
        margin-bottom: 30px;
    }

 .next-target-items img {

      width: 100px;


 }



 /* support section   */

 .support-section{
    background-image: url("/assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 15px;

    
 }
   .support-section-wrapper  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 15px; 
    background-color: rgba(11, 11, 11, 0.255); 
    height: 314px;
  
   }
 .support-info{
    width: 730px;
 }
 .support-info h2{
    color: rgb(255, 255, 255) ;     
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;
    z-index: 1;

 }
 .support-info p{
    color: rgb(255, 255, 255); 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 25px;
 }
.support-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
     width: 560px; 
     padding: 10px;
     font-size: 16px;
     box-sizing: border-box;
     border: 1px solid rgba(13, 19, 33, 0.15);
     border-radius: 8px;    
     background: rgb(255, 255, 255);
     color: rgba(13, 19, 33, 0.4); 
     font-size: 16px;
     font-weight: 400;
     line-height: 19px;     



 }
 .submit-btn{
    border-radius: 8px;
    padding: 17px 20px 17px 20px;    
     background: rgb(255, 255, 255);
    color: rgb(13, 19, 33); 
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;    
    text-align: center;

 }

 /* footer section  */


 .footer{
    margin-top: 60px;
    padding: 30px 0px;
    border-radius: 16px;    
    background: rgba(13, 19, 33, 0.03);
    

 }
 .footer-info{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .footer-info h4{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;  
    text-align: center;
 }
 .social-icon{
    display: flex;
    gap: 20px;
 }